    @font-face {
        font-family: JekoBlack;
        src: url(Fonts/Jeko-Black.ttf);
    }

    @font-face {
        font-family: PoppinsLit;
        src: url(Fonts/Poppins-Light.otf);
    }

    body {
        background-color: black;
        color: white;
        height: 100vh;
        display: flex;
        font-family: PoppinsLit;
        font-size: 14px;

        .container {
            width: min(1200px, 90vw);
            margin: 0 auto;

            nav {

                box-sizing: border-box;
                background: linear-gradient(90.59deg, rgba(235, 235, 235, 0.17) 0%, rgba(255, 255, 255, 0.095) 100%);
                border-radius: 16px;
                display: flex;
                border: 1px solid rgb(64, 64, 64);
                justify-content: space-between;
                align-items: center;
                padding: 0 40px;
                margin-top: 15px;
                height: 60px;

                .logo {
                    width: 90px;
                }

                .menu {
                    width: auto;
                    min-width: 50%;
                    display: flex;
                    gap: 25px;
                    align-items: center;

                    .mode {
                        width: 20px;
                        height: 20px;
                    }

                    .mob-menu {
                        width: 20px;
                    }

                    ul {
                        line-height: 20px;
                        height: 20px;
                        list-style: none;
                        width: 100%;
                        gap: 20px;
                        justify-content: space-between;
                        color: rgb(164, 164, 164);
                    }
                }
            }
        }

        @media screen and (max-width: 700px) {
            .desktop-menu {
                display: none;
            }

            .menu {
                justify-content: end;
            }
        }

        @media screen and (min-width: 700px) {
            .mob-menu {
                display: none;
            }

            .desktop-menu {
                display: flex;
            }
        }
    }